@import "compass";
@import "compass/css3/user-interface";
@import "normalize";
@import "mixins";
@import "grid";


body{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 1.45;
  padding: 10px 0;
}

a{
  color: inherit;
  text-decoration: none;
  outline: none;
}

[draggable="true"]{
  @include user-select("none");
  cursor: move;
}
li{
  display: block;
  width: 250px;
  border: 2px solid transparent;
  margin-bottom: 5px;
  &.dragenter{
    border: 2px dashed #4877ff;
  }
  a.draggable{
    padding: 10px;
    border: 1px solid #4877ff;
    display: block;

    background-color: #64aaff;
    width: 246px;
    color: #fff;
    &.dragstart{
      background-color: lighten(#64aaff, 10%);
    }

  }

}
